:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card { 
        ion-card-title {
            font-size: 1.2rem;
        }
        &.no-radius {
            border-radius: 0;
        }
    }

    ion-badge {
        &.float {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    ion-chip {
        &.bot {
            margin: 0;
            position: absolute;
            bottom: -1px;
            right: -1px;
            font-size: .75rem;
            padding: 5px 10px;
            border-radius: 8px 0 8px 0;
        }
    }

    ion-footer {
        &.footer-ios {
            padding: 20px;
        }
    }
}

agm-map {
    height: 67.85vh;
    .gmnoprint {
        display: none !important;
    }
}

.card-img-status {
    width: 120px;
    position: absolute;
    transform: rotate(45deg);
    padding-top: .5rem;
    padding-bottom: .5rem;
    top: 10px;
    right: -30px;
    z-index: 99;
    text-align: center;
    &.closed {
        background-color: rgba(var(--ion-color-primary-rgb), .8);
    }
    &.open {
        background-color: rgba(var(--ion-color-success-rgb), .8);
    }
}

.card-image {
    width: 100%;
    height: 60vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.background {
    background-color: #003128fa;
}