:host {
    ion-content {
        padding-bottom: 64px;
        --background: var(--ion-color-light);
    }

}

.map {
    position: relative;
    height: 100%;
    width: 100%;

    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in  ;
}

.map.visible {
    opacity: 1;
}

#map_canvas {
    width: 100%;
    height: 90%;
  }
