<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="bg-white" text-center padding>
    <img src="assets/img/foodIonic-ico.png">
  </div>

  <ion-card class="bg-white no-radius" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>{{ 'app.name' | translate }} {{ 'app.version' | translate }}</strong></ion-text>
      </h1>
      <h2 margin-bottom>
        <ion-text ><strong>Présentation de BéninRestoo</strong></ion-text>
      </h2>
      
      <p margin-bottom>
        Bénin Restoo est une start-up installée à Cotonou (BÉNIN) qui vous aide à commander et à vous faire livrer à domicile, au bureau, peu importe votre position
        géographique des plats provenant des meilleurs restaurants!
      </p>
      <h2 margin-bottom>
        <ion-text ><strong>Nos frais de livraison</strong></ion-text>
      </h2>
      <p>
        Nos frais<br>1000m: 100F CFA
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
