

<ion-content padding class="animated fadeIn fast" class="bg-light">
  <div class="theme-bg"></div>
  <ion-row class="scape-top">
    <ion-col class="center">
            <ion-img class="img" src="assets/imgs/log1.jpeg">
            </ion-img>
    </ion-col>
  </ion-row>

  <ion-row class="position-b">
    <ion-col>
      <ion-button expand="block" size="medium" color="dark" (click)="goToHomeResults()">
        <ion-text color="light">{{ 'app.pages.homelocation.label.mylocation' | translate }}</ion-text>
      </ion-button>    
    </ion-col>
  </ion-row>
</ion-content>
