:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }

    .ion-icon {
        font-size: 30px; //Preferred size here
        margin: 20px;
    }

    .black {
        color: #000;
    }

    .info-blue {
        font-size: 12px;
        color:#0000ffe0;
        text-decoration:underline;
    }
    .danger-red {
        margin-left: 15px;
        font-size: 12px;
        color:#ff0000c7;
        text-decoration: underline;
    }
    .mini-size {
        font-size: 12px;
        color: #464545;
    }
    .iconPadding {
        padding: 10px;
    }
    .background {
        background-color: #f8ff8675;
    }
    .padding-start {
        --padding-start:20px;
    }
}