<ion-header>
  <ion-toolbar color="dark">
      <ion-title> Mon panier</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" (click)="closeModal()" color="light">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding fixed>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-card *ngIf="orders?.length === 0" color="primary" margin-top>
          <ion-card-content>
            <p text-center class="text-white">Votre panier est vide pour le moment </p>
          </ion-card-content>
        </ion-card>

        <ion-list no-margin no-padding *ngIf="orders?.length > 0">
            <!-- <div *ngFor="let commande of commandes" #slidingList> -->
            <ion-item-sliding *ngFor="let order of orders" #slidingList>
              <ion-item  no-padding-vertical no-margin class="bg-white" lines="full">
                  <ion-label>
                      <ion-grid  *ngFor="let ord of order.order" class="filters" no-padding >
                          <ion-row>
                            <ion-col  size="6">
                                <h2 class="left">
                                  <ion-text class="bold">{{ order.qtd }}X {{ord.nom}}</ion-text>
                                </h2>
                            </ion-col>
                            <ion-col size="6">
                                <h2 class="right">
                                  <ion-text >{{order.supplementPrice + ord.prix}} F CFA</ion-text>
                                </h2>
                            </ion-col>
                          </ion-row>
                      </ion-grid>
                      <ion-grid class="filters" no-margin no-padding>
                        <ion-row>
                          <ion-col  *ngIf="order.supplementPrice > -1" size="12">
                            <ion-text class="mini-size" text-wrap >Supplements: 
                                <ion-text *ngFor="let supplement of order.supplementsName" class="mini-size" text-wrap >{{ supplement.name }} , </ion-text>  
                            </ion-text>                        
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                       <ion-grid class="filters" no-margin no-padding>
                        <ion-row no-margin no-padding>
                            <ion-col size="6">
                                <ion-item no-margin no-padding lines="none">
                                    <div class="left">
                                        <ion-text class="info-blue">Modifier</ion-text>
                                        <ion-text class="danger-red" (click)="removeOrder(order)">Supprimer</ion-text>
                                    </div>
                                </ion-item>
                            </ion-col>
                            <ion-col offset="3" size="3">
                                <div class="right">
                                    <ion-icon name="remove" class="iconPadding" tappable (click)="minusQtd(order)" [hidden]="order.qtd < 2" ></ion-icon>
                                    <ion-icon name="add" class="iconPadding" tappable (click)="plusQtd(order)" ></ion-icon>
                                </div>
                            </ion-col>
                          </ion-row>
                      </ion-grid>
                    </ion-label>
                </ion-item>
                <ion-item-options>
                  <ion-item-option class="bg-white" >
                    <ion-icon ios="ios-create" class="black ion-icon"  md="md-create"></ion-icon>
                  </ion-item-option>
                  <ion-item-option class="bg-white" (click)="removeOrder(order);removeCommande(commande)">
                    <ion-icon ios="ios-trash" color="danger" class="ion-icon"  md="md-trash"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
          <!-- </div> -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="orders?.length > 0" class="no-padding">
    <ion-item no-margin no-padding class="background">
        <ion-input [(ngModel)]="comment" clearInput class="padding-start" placeholder="Commentaire"></ion-input>
    </ion-item>
    <ion-card class="no-radius" no-margin *ngIf="orders?.length > 0">
        <ion-card-content >
          <ion-col no-margin no-padding>
              <ion-item text-center no-margin no-padding lines="none"  (click)="closeModal()">
                <ion-icon  class="padding-start" name="add" ></ion-icon>
                    <ion-label>
                      Ajouter d'autres produits
                    </ion-label>
              </ion-item>
          </ion-col>
                <ion-item  no-margin no-padding lines="none">
                    <ion-label ion-text class="left">
                        Sous-total:
                    </ion-label>
                    <ion-label>
                      <ion-text class="right"> {{ totalVal }} F CFA</ion-text>
                    </ion-label>
                </ion-item>
                <ion-item  no-margin no-padding lines="none">
                    <ion-label ion-text class="left">
                        Frais de service:
                    </ion-label>
                    <ion-label>
                      <ion-text class="right"> 0 F CFA</ion-text>
                    </ion-label>
                </ion-item>
                <ion-item  no-margin no-padding lines="none">
                    <ion-label ion-text class="left">
                        Fais de livraison:
                    </ion-label>
                    <ion-label>
                      <ion-text class="right"> 900 F CFA</ion-text>
                    </ion-label>
                </ion-item>
                <ion-item  no-margin no-padding lines="none">
                    <ion-label ion-text class="bold left">
                        Total:
                    </ion-label>
                    <ion-label>
                      <ion-text class="right bold"> {{ totalVal + 900 }} F CFA</ion-text>
                    </ion-label>
                </ion-item>
        </ion-card-content>
      </ion-card>
  <ion-button size="default" expand="full" color="primary" no-margin (click)="openCheckout()">
    <ion-text color="light"> Confirmer votre commande </ion-text>
  </ion-button>
</ion-footer>
