<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.editprofile.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/imgs/log1.jpeg">
      <h1 class="fw500">Nom de l'utilisateur</h1>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        {{ 'app.label.edit' | translate }} / {{ 'app.label.insertavatar' | translate }}
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Paramètre de votre compte </ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Nom complet </ion-label>
              <ion-input inputmode="text" placeholder="Ex..: User" value="username"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">{{ 'app.label.email' | translate }}:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: xyz@example.com" value="xyz@xyz.com"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Numéro de téléphone</ion-label>
              <ion-input inputmode="number" placeholder="+229 90 00 00 48"></ion-input>
            </ion-item>
    
            <ion-item lines="none">
              <ion-label color="dark" routerLink="/restaurant-list/">Changez de mot de passe</ion-label>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Enregistrer</ion-button>
  </ion-card>
</ion-content>
