:host {
    ion-content {
      --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
  }
  .button {
    --box-shadow: 0 3px 1px -2px rgb(250, 185, 0),0 2px 2px 0 rgb(250, 185, 0),0 1px 5px 0 rgb(250, 185, 0);
  }